// Private variables
$colors: (
  blue: (
    default: css-hsl(198, 81%, 8%),
    hover: css-hsl(198, 81%, 12%),
    active: css-hsl(198, 81%, 16%),
    light: css-hsl(210, 7%, 94%),
    disabled: css-hsl(198, 15%, 60%),
  ),
  orange: (
    default: css-hsl(19, 100%, 50%),
  ),
  white: (
    default: css-hsl(255, 100%, 100%),
  ),
  grey: (
    70: css-hsl(0, 0%, 70%),
  ),
);

/** Public variables, expose them here **/
:root {
  --color-white: #{color(white)};

  --color-blue: #{color(blue)};
  --color-blue-active: #{color(blue, active)};
  --color-blue-disabled: #{color(blue, disabled)};
  --color-blue-hover: #{color(blue, hover)};

  --color-light-blue: #{color(blue, light)};

  --color-orange: #{color(orange)};
  --color-grey: #{color(grey, 70)};
}
